<div class="d-flex justify-content-between align-items-center">
    <h3 class="text-center mt-4 mb-3">Locations</h3>
    <button type="button" class="btn btn-primary">Add Location</button>
</div>

<table class="table table-striped table-hover">
    <thead class="table-success">
        <tr>
            <th>SL</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Available Units</th>
            <th>WiFi</th>
            <th>Laundry</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations | async; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ location.name }}</td>
            <td>{{ location.city }}</td>
            <td>{{ location.state }}</td>
            <td>{{ location.availableUnits }}</td>
            <td>{{ location.wifi }}</td>
            <td>{{ location.laundry }}</td>
            <td>
                <button class="btn btn-info"> Edit </button>
                <button class="btn btn-danger" (click)="deleteLocation(location.id)"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>