<div class="d-flex justify-content-center align-items-center">
    <h3 class="text-center mt-4 mb-3">New Location</h3>
  </div>

<div class="row">
    <div class="offset-3 col-md-6">
        <form [formGroup]="formGroup">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
                <label class="form-label">City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="mb-3">
                <label class="form-label">State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="mb-3">
                <label class="form-label">Photo</label>
                <input type="text" class="form-control" formControlName="photo">
            </div>
            <div class="mb-3">
                <label class="form-label">Available Units</label>
                <input type="number" class="form-control" formControlName="availableUnits">
            </div>
            <div class="mb-3">
                <input type="checkbox" class="form-check-input" formControlName="wifi">
                <label class="form-check-label">&nbsp;WiFi</label>
            </div>
            <div class="mb-3">
                <input type="checkbox" class="form-check-input" formControlName="laundry">
                <label class="form-check-label">&nbsp;Laundry</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="createLocation()">Submit</button>
        </form>
    </div>
</div>