<div class="d-flex justify-content-between align-items-center">
  <h3 class="text-center mt-4 mb-3">Students</h3>
  <button type="button" class="btn btn-primary" (click)="navigateToAddStudent()">Add Student</button>
</div>

<table class="table table-striped table-hover">
  <thead class="table-success">
      <tr>
          <th>SL</th>
          <th>Name</th>
          <th>Email</th>
          <th>Cell</th>
          <th>Location</th>
          <th>Avail. Units</th>
          <th>WiFi</th>
          <!-- <th></th> -->
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let student of students | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.cell }}</td>
          <td>{{ student.location.name }}</td>
          <td>{{ student.location.availableUnits }}</td>
          <td>{{ student.location.wifi ? "Yes" : "No" }}</td>
          <!-- <td>{{ student.location }}</td><td>
              <button class="btn btn-info m-1" (click)="updateStudent(student.id)"> Edit </button>
              <button class="btn btn-danger m-1" (click)="deleteStudent(student.id)"> Delete </button>
          </td> -->
      </tr>
  </tbody>
</table>