<div class="d-flex justify-content-center align-items-center">
    <h3 class="text-center mt-4 mb-3">New Student</h3>
</div>
<!-- 
<form (ngSubmit)="createStudent()">
    <div class="row">
        <div class="offset-2 col-md-4">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="student.name">
            </div>
            <div class="mb-3">
                <label class="form-label">City</label>
                <input type="text" class="form-control" name="city" [(ngModel)]="student.email">
            </div>
            <div class="mb-3">
                <label class="form-label">State</label>
                <input type="text" class="form-control" name="state" [(ngModel)]="student.cell">
            </div>
            <div class="mb-3">
                <label class="form-label">Photo</label>
                <input type="text" class="form-control" name="photo" [(ngModel)]="student.photo">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </div>
</form> -->