<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Available Units</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations | async">
            <td>{{ location.id }}</td>
            <td>{{ location.name }}</td>
            <td>{{ location.city }}</td>
            <td>{{ location.state }}</td>
            <td>{{ location.availableUnits }}</td>
          </tr>
    </tbody>
</table>